# @enabled on
# @normal_password 
# @admin_username admin
# @admin_password 2f05bf26960d2a3bfbdcc220537e95c12cd79106
# @normal_username homeassistant


webcontrol_html_output on
webcontrol_port 7999
camera camera-2.conf
camera camera-3.conf
camera camera-4.conf
camera camera-1.conf
setup_mode off
webcontrol_parms 2
webcontrol_localhost off #on
