{
    "1": {
        "ftp": {
            "location": "/ftp/media", 
            "password": "q1w2e3r4#1995+", 
            "port": 21, 
            "server": "10.11.1.200", 
            "username": "hassio"
        }
    }, 
    "2": {
        "ftp": {
            "location": "/ftp/media", 
            "password": "q1w2e3r4#1995+", 
            "port": 21, 
            "server": "10.11.1.200", 
            "username": "hassio"
        }
    }, 
    "3": {
        "ftp": {
            "location": "/ftp/media", 
            "password": "q1w2e3r4#1995+", 
            "port": 21, 
            "server": "10.11.1.200", 
            "username": "hassio"
        }
    }, 
    "4": {
        "ftp": {
            "location": "/ftp/media", 
            "password": "q1w2e3r4#1995+", 
            "port": 21, 
            "server": "10.11.1.200", 
            "username": "hassio"
        }
    }
}